<h1>作者列表</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
            </tr>
        </thead>
        <tbody>
            {{each author_list}}
            <tr>
                <td>{{$value.name}}</td>
                <td>{{$value.lifespan}}</td>
                <td><button class="btn btn-primary" onclick="updateAuthorGet(`{{$value.id}}`)">修改</button>
                    <button class="btn btn-info" onclick="detailAuthorGet(`{{$value.id}}`)">详情</button>
                    <button class="btn btn-warning" onclick="deleteAuthorGet(`{{$value.id}}`)">删除</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>