<h1>书籍实例</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>书名</th>
                <th>出版社</th>
                <th>书籍状态</th>
                <th>还书日期</th>
            </tr>
        </thead>
        <tbody>
            {{each book_list}}
            <tr>
                <td>{{$value.book.title}}</td>
                <td>{{$value.imprint}}</td>
                <td>{{$value.status}}</td>
                <td>{{$value.due_back_formatted}}</td>
                <td>
                    <button class="btn btn-info" onclick="detailBookInstanceGet(`{{$value._id}}`)">详情</button>
                    <button class="btn btn-warning" onclick="deleteBookInstanceGet(`{{$value._id}}`)">删除</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>