<h1>种类信息</h1>
<div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>种类名称</th>
            </tr>
        </thead>
        <tbody>
            {{each list_genres}}
            <tr>
                <td>{{$value.name}}</td>
                <td>
                    <button class="btn btn-primary" onclick="updateGenreGet(`{{$value.id}}`)">修改</button>
                    <button class="btn btn-info" onclick="detailGenreGet(`{{$value.id}}`)">详情</button>
                    <button class="btn btn-warning" onclick="deleteGenreGet(`{{$value.id}}`)">删除</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>